h2{
	margin-top: 20px;
	margin-left: 8px;
	margin-bottom: 8px;
	text-align: center;
}
button{
	margin-top: 5px;
	margin-left: 4px;
}
#main1{
	width:950px; 
	height: 450px; 
	border:1px solid;
}
.space{
	width: 400px;
	height: 25px;
	border: none;
	margin-left: 250px
}
.val{
	text-align: center;
	border: none;
}
#allip{
	width: 750px;
	height: 50px;
}
#clear{
	float:right;
    margin-right: 0.9375rem;
}
#textbox{
	border: 2px solid;
}
