h2{
	margin-top: 40px;
	margin-left: 8px;
	margin-bottom: 8px;
	text-align: center;
}
#put{
	height:auto;
	width:450px;
}
#put1{
	height:auto;
	width:450px;
}
#put2{
	height:auto;
	width:450px;
}
#put3{
	height:auto;
	width:450px;
}
#put4{
	height:auto;
	width:450px;
}
#put5{
	height:auto;
	width:450px;
}
button{
	margin-top: 5px;
	margin-left: 4px;
}
.clear{
	
}